//first section

.features-section {
  padding: 80px 0;
  position: relative;
 font-family: "Poppins";
font-weight: 600;
font-size: 22px;
margin-top: 10px;
line-height: 160%;
letter-spacing: 0%;


}

.section-title {
  font-weight: 700;
  font-size: 28px;
  color:#2F327D;
  margin-left: 30px;
}

.section-title h2.highlight {
  color: #00CBB8;
  margin-left: 30px;
}

.subtitle {
  color: #666;
  font-size: 16px;
  margin-top: 10px;
 margin-left: 30px;
}

.feature-card {

  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.feature-card img {
  border-radius: 15px;
  width: 100%;
  margin-left: 30px;
}

.features-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.features-list p {
  margin: 0;
  font-size: 15px;
  color: #696984;
}

//Our features3nd

.tools-img-wrapper{
margin-top: -90px;
      width: 100%;
  border-radius: 15px;


}
.tools-section .section-title {     
  font-size: 1rem;
margin-bottom: 0;
  font-family:" Poppins";
font-weight: 400px;
font-size: 40px;
margin-left: 50px;
line-height: 160%;
letter-spacing: 0%;
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  color: #00CBB8;

  
}

.section-title .highlight {
  color: #2F327D; 
}
.tools-section .section-subtitle {
  color: #696984;
  max-width: 500px;
  font-family: "Poppins";
font-weight: 400px;
font-size: 20px;
margin-left: 50px;
line-height: 180%;
letter-spacing: 3%;


}
.features-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.icon-circle {
  width: 50px;         
  height: 50px;
  background: #fff;    
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  margin-right: 15px;   
  flex-shrink: 0;
}


  
//4th section
.quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  gap: 50px;
}



.quiz-image img {
  width: 80%;
  border-radius: 15px;
  margin-bottom: 20px;
}


.quiz-info h2 {
  font-size: 2rem;
  color: #2F327D;
  margin-bottom: 15px;
}

.quiz-info .highlight {
  color: #00CBB8;
}

.quiz-info p {
  color: #696984;
  max-width: 400px;
  line-height: 1.6;
}


//class-management

.class-management .section-subtitle{
 font-size: 22px;
     color: #696984;
  max-width: 600px;
  line-height: 1.6;

}

//5rd section


.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}
.highlight-one {
  color: #00CBB8;
}
.highlight-two{
  color: #2F327D;
}
.section-subtitle {
  color:#696984;
  font-size: 22px;
  line-height: 1.6;
  margin-left: 25px;

  
}


.gradebook-img {
  max-width: 100%;   
  border-radius: 20px;
}



.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}
.highlight-first {
  color:#2F327D;
}
.highlight-second {
  color: #00CBB8;
}
.section-subtitle {
  color: #696984;
  font-size: 24px;
  line-height: 1.6;

font-weight: 400;

line-height: 180%;
letter-spacing: 2%;

}
.discussion-img {
  max-width: 80%;  
  border-radius: 20px;
}


.btn-outline-primary {
  border: 1px solid #49BBBD;
  color: #49BBBD;
  background: transparent;
  border-radius: 30px;
  padding: 15px 25px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  border: 2px solid #49BBBD; 
  background: transparent;  
  color: #49BBBD;            
}