// Customize Bootstrap variables
$prefix:'TOTC-';// CSS variable prefix (default 'bs-')
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif;

// colors
// Text color
$navbar-light-active-color: white;

$primary: #49BBBD;
$primary-dark:#252641; 
$secondary: #696984;
$danger: #525596;
$warning: #5F5F7E;
$accent: #F88C3D;

// Extra text colors
$text-white: #FFFFFF;
$text-light: #FFFFFFcc;

$footer-text: #83839A;

// Background helpers
$btn-bg-light: rgba(255, 255, 255, 0.3);
$footer-color: #1F1F3D;

// container
$sm: 540px;
$md: 720px;
$lg: 1100px;
$xl: 1660px;
$xxl: 1760px;
$xxxl: 1920px; 

$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  xxxl: $xxxl
);

//font size
$h2-font-size: 40px;
$h5-font-size: 20px;
// $h3-font-size:60px;
// $line-height-lg:32px;



//potision value
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  10: 10%,
  20: 20%,
  30: 30%
) !default;
//buttoms
$btn-padding-y: .75rem;
$btn-padding-x: 3rem;

$btn-padding-x-lg: 2.5rem;
$btn-padding-y-lg: 1.5rem;
